<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryptopaths.cryptofm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startup.InitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.IntermediateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".startup.UnlockDbActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".filemanager.FileBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:clearTaskOnLaunch="true"/>

        <service
            android:name=".services.CleanupService"
            android:stopWithTask="false"
            />
    </application>

</manifest>